<form novalidate class="formulary">
    <div class="status error">Se ha originado un error</div>

    <div class="status carga">Guardando cómic</div>

    <div class="status ideal">
        <div class="control-grupo">
            <label for="estilo">Estilo</label>
            <input type="text" id="estilo" name="estilo" 
                placeholder="Estilo" required>

        </div>
        <div class="control-grupo">
                <label for="artist">Artist</label>
                <input type="text" id="artist" name="artist" 
                    placeholder="Artista" required>

        </div>
        <div class="control-grupo"> 
                <label for="icon_url">Icon URL</label>
                <input type="url" id="estilo" name="icon_url" 
                    placeholder="http://..." required>

        </div>
        <div class="control-grupo">
            <button>Guardar cómic</button>

        </div>

    </div>

</form>