<section class="list-comics ideal" >

    <div class="status vacio">
        No hay ningún cómic.
    </div>

    <div class="status error">
        Se ha originado un error al descargar el cómic.
    </div>

    <div class="status carga">
        Cargando...
    </div>

    <div class="status ideal">
        <a href="detalle.html">
        <article class="comic background-hover">
            <img class="icon" src="img/batman.jpg">
            <div class="top bkground">Top</div>
            <div class="artist bkground">Ilustradores</div>
        </article>
        </a>
        <a href="detalle.html">
        <article class="comic background-hover">
            <img class="icon" src="img/art.jpg">
            <div class="top bkground">Top</div>
            <div class="artist bkground">Ilustradores</div>
        </article>
        </a>

        <a href="detalle.html">
        <article class="comic background-hover">
            <img class="icon" src="img/lib.jpg">
            <div class="top bkground">Top</div>
            <div class="artist bkground">Ilustradores</div>
        </article>
        </a>

        <a href="detalle.html">
        <article class="comic background-hover">
            <img class="icon" src="img/mike.jpg">
            <div class="top bkground">Top</div>
            <div class="artist bkground">Ilustradores</div>
        </article>
        </a>    

        <article class="comic">
            <img class="icon" src="img/comic.png">
            <div class="top">Próximamente</div>
            <div class="artist">Novedades</div>
        </article>

        <article class="comic">
            <img class="icon" src="img/comic.png">
            <div class="top">Próximamente</div>
            <div class="artist">Novedades</div>
        </article>
</div>



</section>