<div class="bloque container">
        <div class="title-ranking">
                <h1>Grandes artistas</h1>
            </div>
    <div class="ranking-container">
     
           
            
        <div class="album-item uno">
            <div class="informacion">
                <h2 class="nombre">Mignola</h2>
                <p class="texto">Hasta 1994, Mignola siempre había trabajado sobre personajes
                     y creaciones de otros. Se desvió de esa práctica cuando creó la primera 
                     historieta de Hellboy, titulada La semilla de la destrucción y publicada
                      por Dark Horse Comics. Hellboy reposa en gran medida en los propios intereses
                       de Mignola: el folclore, las películas de serie B, las historias de fantasmas
                        y monstruos, el pulp.</p>
                <small class="obra">Hellboy</small>
            </div>
            <img class="img-ranking" src="./img/mign.jpg" alt="">
        </div>

        <div class="album-item dos">
            <div class="informacion">
                <h2 class="nombre">Moebius</h2>
                <p class="texto">Fue un autor con gran capacidad para el dibujo 
                    y con un amplio abanico de estilos que era capaz de combinar
                     de forma coherente. Su obra El garaje hermético, una de las más relevantes
                      y experimentales, le sirvió como medio donde explorar diversidad 
                      de posibilidades gráficas y para reinterpretar diversos estilos.
                </p>
                <small class="obra">Teniente Blueberry</small>
            </div>
            <img class="img-ranking" src="./img/moe.jpg" alt="">
        </div>

        <div class="album-item tres">
            <div class="informacion">
                <h2 class="nombre">Liberatore</h2>
                <p class="texto">Hizo los decorados de la adaptación cinematográfica de la
                     novela de Stefan Zweig "24 horas de la vida de una mujer" ("24 heures 
                     de la vie d'une femme"), dirigida por Laurent Bouhnik y con Agnès Jaoui y
                      Michel Serrault en los papeles principales. La película se rodó en el 2001
                       y se estrenó en el 2002. En ese último año, Liberatore trabajó como actor
                        en la película de Christian Chapiron "Traitement de substitution n°4" 
                        (en la distribución en vídeo, "Substitution n°4").</p>
                <small class="obra">Ranxerox</small>
            </div>
            <img class="img-ranking" src="./img/tan.jpg" alt="">
        </div>
        <div class="album-item cuatro">
            <div class="informacion">
            <h2 class="nombre">Miller</h2>
            <p class="texto">Realizó su primer trabajo para la editorial Marvel Comics
                 en 1979 en Spectacular Spiderman, en un crossover con Daredevil. Pero
                  se dio a conocer como joven promesa en la serie Daredevil, también 
                  para Marvel Comics, entre finales de los setenta y principios de los 
                  ochenta. </p>
            <small class="obra">Sin City</small>
             </div>
            <img class="img-ranking" src="./img/sin.png" alt="">
             </div>
             </div>
        </div>

    
</div>
